{
"extends": "airbnb",
"rules": {
    "no-plusplus": "off",
    "brace-style": "warn",
    "unexpected-string-contatenation": "warn",
    "no-console": "warn"
  },
"env": {
    "browser": true,
    "node": true,
    "jasmine": true
  }
}
